Wise_vendors_notify_and_updates.json
{
  "name": "Wise vendors notify and updates",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -820,
        320
      ],
      "id": "2e38e13c-513c-48a7-8a90-6c81c049873e",
      "name": "Schedule Tri"
    },
    {
      "parameters": {
        "resource": "recipient",
        "returnAll": true
      },
      "type": "n8n-nodes-base.wise",
      "typeVersion": 1,
      "position": [
        -600,
        320
      ],
      "id": "16e0e4cf-16a6-4684-9f7c-a66d59da35a7",
      "name": "Get Verified vendors",
      "credentials": {
        "wiseApi": {
          "id": "PSzomFL37Ta1XuY9",
          "name": "Wise account 6"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1JBPaA_3xFfictaJcYZSvCSk0VJVzeNJAMFdu0fcQ_Yw",
          "mode": "list",
          "cachedResultName": "verified vendors",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JBPaA_3xFfictaJcYZSvCSk0VJVzeNJAMFdu0fcQ_Yw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JBPaA_3xFfictaJcYZSvCSk0VJVzeNJAMFdu0fcQ_Yw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.details.email || '' }}",
            "id": "={{ $json.id }}",
            "business": "={{ $json.business }}",
            "profile": "={{ $json.profile }}",
            "accountHolderName": "={{ $json.accountHolderName }}",
            "currency": "={{ $json.currency }}",
            "country": "={{ $json.country }}",
            "type": "={{ $json.type }}",
            "accountNumber": "={{ $json.details.accountNumber }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "business",
              "displayName": "business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profile",
              "displayName": "profile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "accountHolderName",
              "displayName": "accountHolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "accountNumber",
              "displayName": "accountNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -320,
        320
      ],
      "id": "d98adf6d-996e-44da-8751-fc6c9f83cedf",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eTEEqODMwQSFJuL0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 3"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -820,
        80
      ],
      "id": "1d821a24-0817-456c-bf24-45a11e465828",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\nconst dayOfWeek = today.getDay();\nconst date = today.getDate();\nconst lastDay = new Date(today.getFullYear(), today.getMonth() + 1, 0).getDate();\nconst lastWednesday = new Date(today.getFullYear(), today.getMonth() + 1, 0);\n\nwhile (lastWednesday.getDay() !== 3) {\n  lastWednesday.setDate(lastWednesday.getDate() - 1);\n}\n\nif (today.toDateString() === lastWednesday.toDateString()) {\n  return [{ json: { isLastWednesday: true } }];\n}\n\nreturn [{ json: { isLastWednesday: false }, pairedItem: {} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        80
      ],
      "id": "a4af7de8-a338-4941-bede-c173e3e40a1b",
      "name": "Last Wednesday?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3301ed10-cf40-46d8-9c26-85194dcddb58",
              "leftValue": "={{ $json.isLastWednesday }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -380,
        80
      ],
      "id": "f146029d-0c3a-43e7-9c1d-750e11836a94",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JBPaA_3xFfictaJcYZSvCSk0VJVzeNJAMFdu0fcQ_Yw",
          "mode": "list",
          "cachedResultName": "verified vendors",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JBPaA_3xFfictaJcYZSvCSk0VJVzeNJAMFdu0fcQ_Yw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JBPaA_3xFfictaJcYZSvCSk0VJVzeNJAMFdu0fcQ_Yw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -160,
        -20
      ],
      "id": "be7446aa-ef37-46fd-a2f7-52a7a454da4e",
      "name": "Get Vendors",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eTEEqODMwQSFJuL0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Monthly Reminder: Please Submit Your Invoice to Duxre",
        "message": "=Hi {{ $json.accountHolderName }},\nThis is an automated message reminding you that you are one of many vendors working on the Duxre project. \nWe rely on you as a team to provide your invoices early so all team members can be paid on a timely manner. \nPlease submit all invoices to accounts@1stop.io. If you submit your invoice to another email, through slack or anywhere else, you will not be paid.  \nAll invoices should be .pdf or .docx format and include the following information: \n- Your name \n- Date \n- Invoice number \n- Account name/number \n- SWIFT / ACH / IBAN \n- Bank details \n- Company address \n\nThanks,\nGeordie Wardman COO, Duxre.com",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        60,
        -20
      ],
      "id": "93225367-f3ad-4d2f-aac9-bfd9c5274d04",
      "name": "Gmail",
      "webhookId": "0b217d8b-9973-46e6-9d83-69b25737f2c5",
      "credentials": {
        "gmailOAuth2": {
          "id": "C5jZvsds1nBxObxf",
          "name": "Gmail account 2"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Tri": {
      "main": [
        [
          {
            "node": "Get Verified vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Verified vendors": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Last Wednesday?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last Wednesday?": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Vendors": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e9ae5b7f-0d7a-4df5-a210-b6810e378bd9",
  "meta": {
    "instanceId": "c20ae7e3e0d12f98bfbb659af04d62304426fa8f21617e713bb29cd21af9a4c9"
  },
  "id": "zev8lObljC7S22oj",
  "tags": []
}